p{
    padding: 0;
    margin: 0;
  }
  ul,li{ padding:0;margin:0;list-style:none}
  .cur{
    cursor: pointer;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
}
  img,
  abbr,
  input,
  button,
  acronym,
  fieldset,
  textarea {
    border: none;
  }
  input {
    text-align: inherit;
  }
  div,p,span,ul,li,input,select,th{
    box-sizing: border-box;
  }
  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .clearfix {
    zoom: 1;
  }